.gym-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 40px;
    padding: 20px;

}
.product-name h2{
    color: red;
}
.img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
.dis{
    display: flex;
    align-items: center;
    
}
.mr{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.me-line{
    display: flex;
}
.my-container{
    padding: 10px 10px;
    margin: 10px;
    background-color: rgb(156, 108, 202);
    color: aliceblue;
    height: 50%;
    
}
.my-container h2{
    text-align: center;
}
.my-contain{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}
.break a {
    padding: 10px;
}
.break a:hover{
    background-color: blue;
    border-radius: 20px;

}
.inpo{
    display: flex;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 10px;
    
}
.inpo input{
    width: 50%;
    margin-left: 15px;
}
.my-container button{
    background-color: white;
    width: 100%;
    margin-top: 30px;
    padding: 10% 0%;
    border-radius: 20px;
    color: red;
}
.my-container button:hover{
    color: aliceblue;
    background-color: blueviolet;
}

@media only screen and (max-width: 600px){
    .gym-container{
        
        display: flex;
        flex-direction: column;

    }
    .products-container{
        display: flex;
        flex-direction: column;
    }
       
            
}